#contact
    background-image: url("assets/map-image.png")
    background-color: #393939
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    .textbox
        text-align: center
        h1
            font-size: 40px
            font-weight: 700
            line-height: 1.5
            color: #fff
        h2
            font-family: 'Roboto Slab', serif
            font-weight: 400
            font-style: italic
            color: #6c757d
            margin-top: 10px
            margin-bottom: 64px
    .btn
        padding: 20px 40px
        font-size: 18px
        font-weight: 700
        background-color: #ffc800