#portfolio
    background-color: rgba(248, 249, 250)
    .box
        background-color: #fff
        margin-bottom: 24px
    .textbox
        text-align: center
        padding: 24px
        h1
            font-size: 40px
            font-weight: 700
            line-height: 1.5
        h2
            font-family: 'Roboto Slab', serif
            font-weight: 400
            font-style: italic
            color: #6c757d
            margin-top: 12px
            margin-bottom: 64px
        h3
            font-size: 24px
            font-weight: 700
            line-height: 1.8
        h4
            font-size: 16px
            color: #6c757d
            font-style: italic
            font-weight: 400
            font-family: 'Roboto Slab', serif
        
    @media screen and ( max-width: 576px )
        .box
            margin: 0px 35px