body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
body section {
  padding: 100px 0;
}
body .imgbox {
  overflow: hidden;
}
body .imgbox img {
  width: 100%;
}
body .btn {
  color: #fff;
}

header {
  background-color: #212529;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
header .nav-menu {
  padding: 25px 0;
}
header .nav-menu a {
  margin-left: 34px;
  font-size: 16px;
  font-weight: 400;
}
header .nav-menu a:hover {
  color: #ffc800;
}
header .nav-menu .imgbox {
  width: 140px;
}
header .nav-menu .hamburger-menu {
  display: none;
}
@media screen and (max-width: 992px) {
  header .nav-menu {
    padding: 15px 0;
  }
  header .nav-menu nav {
    display: none;
  }
  header .nav-menu .hamburger-menu {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 10px;
  }
  header .nav-menu .hamburger-menu .btn, header .nav-menu .hamburger-menu .icon {
    color: #9b9d9b;
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
  }
}

#welcome {
  padding: 150px 0;
  background-image: url("assets/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#welcome .box {
  flex-direction: column;
  padding-top: 120px;
  color: #fff;
}
#welcome .box h2 {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 2.25rem;
  margin-bottom: 32px;
}
#welcome .box h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 64px;
}
#welcome .box .btn {
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  background-color: #ffc800;
}
#welcome .box .btn:hover {
  background-color: #cca000;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #welcome .box {
    text-align: center;
  }
}
@media screen and (min-width: 400px) and (max-width: 768px) {
  #welcome .box {
    padding-top: 0px;
    text-align: center;
  }
  #welcome .box h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  #welcome .box h1 {
    font-size: 52px;
    line-height: 3.25rem;
    margin-bottom: 32px;
  }
}

#services .box .icon {
  background-color: #ffc800;
  border-radius: 50%;
  font-size: 64px;
  color: #fff;
  width: 128px;
  height: 128px;
}
#services .textbox {
  text-align: center;
}
#services .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}
#services .textbox h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
  margin-top: 12px;
  margin-bottom: 64px;
}
#services .textbox h3 {
  font-size: 24px;
  margin: 16px 0;
  font-weight: 700;
}
#services .textbox p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #6c757d;
  line-height: 1.75;
  margin: 16px 0;
}

#portfolio {
  background-color: rgb(248, 249, 250);
}
#portfolio .box {
  background-color: #fff;
  margin-bottom: 24px;
}
#portfolio .textbox {
  text-align: center;
  padding: 24px;
}
#portfolio .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}
#portfolio .textbox h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
  margin-top: 12px;
  margin-bottom: 64px;
}
#portfolio .textbox h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.8;
}
#portfolio .textbox h4 {
  font-size: 16px;
  color: #6c757d;
  font-style: italic;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
}
@media screen and (max-width: 576px) {
  #portfolio .box {
    margin: 0px 35px;
  }
}

#about .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}
#about .textbox h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
  margin-top: 12px;
  margin-bottom: 64px;
}
#about .box {
  margin-bottom: 80px;
  display: flex;
}
#about .box .textbox {
  width: 370px;
}
#about .box .textbox h3, #about .box .textbox h4 {
  font-size: 24px;
  font-weight: 700;
}
#about .box .textbox h5 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #6c757d;
  line-height: 1.75;
  margin: 16px 0;
}
#about .box .imgbox {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid #e9ecef;
  margin: 0 60px;
}
#about .minibox {
  position: relative;
  width: 170px;
  height: 170px;
  background-color: #ffc107;
  border-radius: 50%;
  color: white;
  border: 7px solid #e9ecef;
  text-align: center;
}
#about .minibox p {
  position: absolute;
  left: 44px;
  top: 42px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

#amazing {
  background-color: rgb(248, 249, 250);
}
#amazing .box {
  margin-bottom: 48px;
}
#amazing .textbox {
  text-align: center;
}
#amazing .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}
#amazing .textbox h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
  margin-top: 10px;
  margin-bottom: 64px;
}
#amazing .textbox h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 12px;
}
#amazing .textbox h4 {
  font-size: 16px;
  color: #6c757d;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  margin-bottom: 20px;
}
#amazing p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #6c757d;
  line-height: 1.75;
}
#amazing .imgbox {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: 8px solid #e9ecef;
  display: inline-block;
}
#amazing .icon i {
  padding: 8px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  padding: 11px 12px;
  margin: 0 10px;
}

#brend {
  padding: 60px 0;
}
#brend .imgbox {
  margin-bottom: 0px;
}
#brend .imgbox img {
  height: 44px;
}
@media screen and (max-width: 767px) {
  #brend .imgbox {
    margin-bottom: 30px;
  }
}

#contact {
  background-image: url("assets/map-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#contact .textbox {
  text-align: center;
}
#contact .textbox h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}
#contact .textbox h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: italic;
  color: #6c757d;
  margin-top: 10px;
  margin-bottom: 64px;
}
#contact .btn {
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  background-color: #ffc800;
}/*# sourceMappingURL=style.css.map */